body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#F5F5DC;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}
.boka1{
  height:45px;
  width:85px;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  float:left;
  background:#cccccc;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-weight:bold;
}
.boka1 a:hover{
  color:#003366;
  font-weight:bold;
}

.button_1{
  height:38px;
  background:#003366;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#F5F5DC;
}

.dark{
  padding:15px;
  background:#99004d;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

.dark1{
  padding:15px;
  background:#003366;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

header{
  background:#99004d;
  color:#003366;
  padding-top:30px;
  min-height:70px;
}

header a{
  color:#F5F5DC;
  text-decoration:none;
  text-transform: uppercase;
  font-size:18px;
  font-weight:bold;
}

header li{

  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#F5F5DC;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}
footer{
  text-align: center;
}

#showcase1{
  min-height:446px;
  background:url('../img/bokaparkering.jpg') no-repeat 0 -100px;  padding-bottom: 198px;
  color:#ffffff ;
  text-align:left;
}

#showcase2{
  min-height:446px;
  background:url('../img/våraövrigatjänster.jpg') no-repeat 0 -200px;
  color:#ffffff ;
  text-align:left;
}

#showcase3{
  min-height:446px;
  background:url('../img/hittatilloss.jpg') no-repeat 0 -100px; padding-bottom: 128px;
  color:#ffffff ;
  text-align:left;
}

#showcase4{
  min-height:446px;
  background:url('../img/kontakt.jpg') no-repeat 0 -100px; padding-bottom: 195px;
  color:#ffffff ;
  text-align:left;
  color: black;
}

#showcase5{
  min-height:446px;
  background:url('../img/information.jpg') no-repeat 0 -100px;
  color:#ffffff ;
  text-align:left;
}

#showcase6{
  min-height:446px;
  background:url('../img/bokadsida.jpg') no-repeat 0 -100px;
  color:#ffffff ;
  text-align:left;
}

#showcase{
  min-height:446px;
  background:url('../img/showcase.jpg') no-repeat 0 -100px;
  color:#ffffff ;
  text-align:center;
}

#showcase h1{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top:180px;
  font-size:75px;
  margin-bottom:-30px;
}

#showcase p{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:30px;
  color:#ffffff ;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#F5F5DC;
  background:#99004d;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

article#main-col{
  float:left;
  width:65%;

}
article#main-col1{
  float:left;
  width:65%;

body{
    font-family: "helvetica";
    font-size: 100%;
}

select{
    border:1px solid #777;
    padding: .8rem 3rem .8rem .5rem;
    border-radius: 3px;
}
